.card-info {
    display: flex;
    margin: 30px;
    gap: 1rem;
}
.right {
    display: flex;
    flex-direction: column;

    &-info {
        display: flex;
        gap: 50px;
    }

    &-bar-score {
        display: flex;
        gap: 10px;
    }
}